@charset "utf-8";
/* CSS Document */

.task_01 {
	padding-top:6px;
}

.lable_01 {
	height:15px;
	width:85px;
	background-image:url(../images/seatcenter/btn/label_02.png);
	float:left;
	text-align:center;
	padding-top:7px;
}

.lable_01 a:link {
	color:#FFF;
}

.lable_01 a:visited {
	color:#FFF;
}

.lable_02 {
	height:15px;
	width:85px;
	background-image:url(../images/seatcenter/btn/label_01.png);
	float:left;
	text-align:center;
	padding-top:7px;
	margin-left:1px;
}

.lable_02 a:link {
	color:#FFF;
}

.lable_02 a:visited {
	color:#FFF;
}

.form_body {
	border:#420260 solid 1px;
	border-top:#420260 solid 1px;
	background-color:#FFF;
}

/**form_body_01普通表格，不带标签表格*/
.form_body_01 {
	border-right:#420260 solid 1px;
	border-bottom:#420260 solid 1px;
	background-color:#FFF;
}

.form_body td {
	border-top:#420260 solid 1px;
	border-left:#420260 solid 1px;
}

.form_body_01 td {
	border-top:#420260 solid 1px;
	border-left:#420260 solid 1px;
}

.form_01 {
	height:22px;
	width:172px;
	background-color:#eeebfc;
}

/**form_01_01十列表格宽度*/
.form_01_01 {
	height:22px;
	width:126px;
	background-color:#eeebfc;
}

.form_01_text {
	color:#420260;
	width:120px;
	height:17px;
	padding-right:22px;
	margin-top:5px;
	text-align:right;
	float:right;
}

.form_01_text_merge {
	color:#420260;
	width:98px;
	height:34px;
	padding-left:22px;
	padding-right:22px;
	margin-top:5px;
	text-align:right;
	float:right;
}

.form_02 {
	width:293px;
}

/**modify修改页,表格宽度*/
.form_01_modify {
	width:172px;
	height:94px;
	background-color:#eeebfc;
}

.form_02_modify {
	width:88%;
}

.form_02_modify input {
	padding-left:4px;
	width:255px;
	height:15px;
    border:1px #CCC solid;
	margin-left:15px;
}

.form_02_modify textarea {
	width:525px;
	height:85px;
	margin-left:15px;
}

.form_02_modify_01 select {
	padding-left:4px;
	width:255px;
	height:20px;
    border:1px #CCC solid;
	margin-left:15px;
}

.form_02_prompt {
	color:#F00;
	padding-left:20px;
}
 
.form_03_radiobox {
	width:88%;
}
 
.form_03_radiobox input{
	margin:0px 0px 0px 15px;
	height:13px;
	width:13px;
}

.form_03_radiobox label {
    cursor:pointer;
    outline:medium none;
}


/**form_02_02十列表格宽度*/
.form_02_02 {
	width:145px;
}

.form_02_02_text {
	color:#000;
	width:125px;
	height:17px;
	padding-left:10px;
	padding-right:10px;
	margin-top:5px;
	float:left;
}

.form_03_03 {
	width:100%;
}

.form_02_text_merge {
	color:#000;
	width:50px;
	height:17px;
	padding-left:10px;
	padding-right:10px;
	margin-top:5px;
	float:left;
}

.table_01 {
	border-bottom:3px;
}

.form_02 input {
	padding-left:4px;
	width:255px;
	height:15px;
    border:1px #CCC solid;
	margin-left:15px;
}

.form_02_02 input {
	padding-left:4px;
	width:125px;
	height:15px;
    border:1px #CCC solid;
	margin-left:6px;
	margin-right:6px;
}

.form_02 select {
	width:262px;
	height:20px;
    border:1px #CCC solid;
	margin-left:15px;
}

.form_02_02 select {
	width:132px;
	height:20px;
    border:1px #CCC solid;
	margin-left:6px;
}

.input_calendar {
	background-image:url(../images/icon/calendar.png);
	background-repeat:no-repeat;
	width:19px;
	height:19px;
	float:right;
	padding-top:2px;
	padding-left:21px;
}

.input_calendar_form_02_02 {
	background-image:url(../images/seatcenter/icon/calendar.png);
	background-repeat:no-repeat;
	width:19px;
	height:19px;
	float:right;
	padding-top:2px;
	padding-left:6px;
}

.form_03 {
	text-align:center;
}

.form_03 a:link {
	color:#420260;
}

.form_03 a:visited {
	color:#420260;
}

.form_03_button_bg {
	height:23px;
	width:59px;
	background-image:url(../images/seatcenter/btn/button_01_2.png);
	background-repeat:no-repeat;
	border:0px;
	color:#420260;
}

.form_save {
	width:100%;
	height:46px;
}

.form_save_02 {
	width:100%;
	height:46px;
	padding-left:15px;
}

.form_save_03 {
	width:100%;
	height:46px;
	padding-left:288px;
}

.btn{
	display:inline-block;
	display:-moz-inline-stack;
	*display:inline;
	zoom:1;
	margin:0;
    border:0;
	*padding:0 4px 0 0;
	text-align:center;
	vertical-align:middle;
	color:#420260;
	text-decoration:none;
	background:url(../images/seatcenter/btn/button_right.png) right no-repeat;
}
	
button.btn {
	cursor:pointer;
	width:auto;
	*overflow:visible;
	border:0 none;
	background-color:none;
	vertical-align:middle;
}
	
.btn b{
	display:inline-block;
	display:-moz-inline-stack;
	*display:inline;
	zoom:1;
	padding:0 0 0 4px;
	position:relative;
	white-space:nowrap;
	font-weight:normal;
	height:23px;
	line-height:23px;
	background:url(../images/seatcenter/btn/button_left.png) left  no-repeat;
	_background-color:#FFF;
}
	
button.btn b b{
		_margin-top:1px;
		padding:0px 10px;
		height:23px;
		line-height:23px;
		cursor:pointer;
		background:url(../images/seatcenter/btn/button_centre.png) left repeat-x;
		_background-color:#FFF;
}

.form_seek {
	background-color:#eeebfc;
	height:22px;
	width:100%;
}

.form_seek_text {
	color:#420260;
	width:74px;
	height:17px;
	padding-left:69px;
	margin-top:5px;
	text-align:left;
	float:left;
}

.form_seek input {
	padding-left:4px;
	width:125px;
	height:15px;
    border:1px #CCC solid;
	margin-top:1px;
	margin-left:6px;
	margin-right:6px;
	float:left;
}

.input_calendar_form_text {
	background-image:url(../images/seatcenter/icon/seek.png);
	background-repeat:no-repeat;
	width:19px;
	height:19px;
	float:left;
	padding-top:2px;
}


